<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>nope</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald|Merriweather+Sans:400,300,700' rel='stylesheet' type='text/css'>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/libraries/p5.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {{{body}}}
    <footer>
        <div class="social-media">
          <a href=""><img width="24px" src="/img/facebook51.svg"></a>
          <a href=""><img width="24px" src="/img/twitter44.svg"></a>
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/settings">Settings</a>
        </nav>
    </footer>
  </body>
</html>
