$heading-font: 'Oswald', sans-serif;
$body-font: 'Merriweather Sans', sans-serif;
$primary-orange: rgb(243, 116, 88);
$primary-green: rgb(109, 197, 170);
$darker-green: rgb(105, 188, 162);
$darker-orange: rgb(228, 110, 84);


html,
body,
ul {
   margin: 0;
   padding: 0;
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	border-bottom: 1px solid white; 
}
body {
	font-family: $body-font;
	height: 100vh;
	width: 100vh;
	color: white;
	overflow: hidden;
}
h1, h2 {
	font-family: $heading-font;
	color: white;
	text-align: left;
}
h2 {
	text-transform: uppercase;
}
div, section {
	h1, h2, p, form {
		margin-left: 5%;
		margin-right: 5%;
	}
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:focus, select:focus {
	outline: none;
}
input[type="submit"], input[type="button"] {
	text-transform: uppercase;
	font-family: $body-font;
	color: white;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid white;
}
input[type="button"] {
	font-size: 10px;
	margin-left: 8px;
	width:75px;
    height:25px;
}
input[type="submit"] {
	margin-top: 60px;
	clear: both;
    width:100px;
    height:35px;
    font-size: 12px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	border-bottom: 3px solid white;
}
section {
	margin-top: 10%;
}
footer {
	height: 50px;
	width: 100%;
	position: absolute;
	.social-media {
		img {
			float: left;
			position: relative;
			padding: 10px;
		}
	}
	nav {
		a {
			margin-left: 15px;
			margin-right: 15px;
			padding-top: 15px;
			float: right;
			text-transform: uppercase;
			 font: {
			    size: 12px;
			    weight: 300;
			  }
			
		}
	}
	bottom: 0;
}

.container { 
	position: absolute;
	width: 100%; 
	height: 95vh;
	overflow: hidden;
}
.about-p, .first-p, .settings-p, .start-p {
	@extend .container;
}
.about-p, .start-p {
	background-color: $primary-orange;
}
.start-p {
	input[type="submit"] {
		background-color: $darker-orange;
	}
	form {
		select {
			width: 100px;
			background-color: $darker-orange;
			border-radius: 0;
			color: white;
			padding: 5px;
		    font-size: 13px;
		    line-height: 1;
		    border: 0;
		    height: 34px;
		    -webkit-appearance: none;
		}
	}
}
.about-p {
	p {
		max-width: 550px;
		font-size: 14px;
		padding-bottom: 25px;
	}
	a {
		border-bottom: 1px solid white;
	}
}
footer, .first-p, .settings-p {
	background-color: $primary-green;
}
.first-p {
	h1, a {
		margin-top: 10%;
	}
	img {
		padding-left: 10px;
		position: absolute;
	}
}
.settings-p {
	max-height: 100vh;
	section {
		width: 100%;
		h3, .radio-buttons {
			padding-top: 20px;
			padding-bottom: 5px;
		}
	}
	input[type="submit"], input[type="button"] {
		background-color: $darker-green;
	}
}

#clockdiv {
	display: none;
}
#controls-container {
	position: absolute;
	left: 32%;
	bottom: 100px;
	img {
  		padding: 15px;
  	} 
}

#sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: $primary-green;
	section {
		margin-top: 0;
		height: 19.7%;
		border-bottom: 2px solid white;

		img {
			display: block;
			margin: auto;
			padding-top: 30%;
		}
		p {
			display: inline-block;
			text-align: center;
			font-size: 18px;
		}
	}
	#heart-data {
		p {
			width: 35%;
		}
		img {
			padding-left: 15%;
			display: inline-block;
		}
	}
	section:not(.user-data):hover {
		background-color: $primary-orange;
	}
	.selected {
		background-color: $primary-orange;
	}
}
.hidden, .error, .verified{
	display: none;
}
.error {
	small {
		font-size: 9px;
		padding: 5px;
	}
}