<div class="about-p">
	<section>
		<h2>About</h2>
		<p>Flatline is a visualisation of your social media presence as an electrocardiogram. Essentially a social media heartbeat.I made it because I was interested in exploring the relationship between social media and life and the idea of living on social media. It was originally made in Processing using the Temboo Library.</p>
		<p> This application is built with Handlebars, Express, Socket.io, NodeJS and p5.js (with the Passport library for authentication). You can see the code for this and the Processing sketch <a href="">here.</a> You can also <a href="">email</a> or <a href="">tweet</a> at me and let me know what you think.</p>
	</section>
</div>