<div class="about-p">
	<section>
		<h2>About</h2>
		<p>Flatline is a visualisation of your social media presence as an electrocardiogram. Essentially a social media heartbeat. I made it because I was interested in exploring the relationship between social media and life and the idea of living on social media. It was originally made in <a href="http://blog.temboo.com/post/121676821701/tracking-your-social-media-heartbeat">Processing using the Temboo Library.</a></p>
		<p> This application is built with Handlebars, Express, Socket.io, NodeJS and p5.js. You can see the code for this and the Processing sketch <a href="https://github.com/oa495/flatline">here.</a> You can also <a href="https://twitter.com/yellzheard">tweet</a> at me and let me know what you think.</p>
		<p>Check out my <a href="http://www.jellywithay.com">website!</a></p>
	</section>
</div>