<script type="text/javascript" src="/scripts/first-page.js"></script>
<div class="first-p">
	<h1>Welcome to Flatline.</h1>
	<p><a href="/settings">Start<img width="24px" src="/img/right.svg"></a></p>
</div>
