<script type="text/javascript" src="/scripts/dom.js"></script>
<div class="settings-p">
	<section class="twitter-sec">
		<h3>Twitter</h3>
		<form class="twitter">
			<label>
			 <input type="radio" name="group1"/> Yes
			</label>
			<label>
			 <input type="radio" name="group1"/>No
			</label>
			<br>
			Username: <input type="text" name="twitterUsername"/>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section class="insta-sec">
		<h3>Instagram</h3>
		<form class="insta">
			<label>
			 <input type="radio" name="group1"/> Yes
			</label>
			<label>
			 <input type="radio" name="group1"/>No
			</label>
			<br>
			Username: <input type="text" name="twitterUsername"/>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section class="tumblr-sec">
		<h3>Tumblr</h3>
		<form class="tumblr">
			<label>
			 <input type="radio" name="group1"/> Yes
			</label>
			<label>
			 <input type="radio" name="group1"/>No
			</label>
			<br>
			Username: <input type="text" name="twitterUsername"/>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section class="fbook-sec">
		<h3>Facebook</h3>
		<p>Not available atm </p>
	</section>
</div>