<script type="text/javascript" src="/scripts/dom.js"></script>
<p> Pick your Poison </p>
<ul>
	<li class="social-media-button" id="twitter"> Twitter </li>
	<li class="social-media-button" id="tumblr"> Tumblr </li>
	<li class="social-media-button" id="insta"> Instagram </li>
	<li class="social-media-button" id="fb"> Facebook </li>
</ul>
<a id="submit-selections" href="">GO</a>