<script type="text/javascript" src="/scripts/dom.js"></script>
<p> Pick your Poison </p>
<ul>
	<li class="social-media-button" id="twitter"> Twitter </li>
	<li class="social-media-button" id="tumblr"><a href="/auth/tumblr">Tumblr</a></li>
	<li class="social-media-button" id="insta"><a href="/auth/instagram">Instagram</a> </li>
	<li class="social-media-button" id="fb"> Facebook </li>
</ul>
<form class="twitUsername" action="">
	Twitter username: <input type="text" name="twitterUsername"/>
	<input type="submit" value="Submit">
</form>
<a id="submit-selections" href="">GO</a>