<script type="text/javascript" src="/scripts/users.js"></script>
<div class="settings-p">
	<form id="sm-form" method="POST" action="">
		<section class="twitter-sec">
			<h3>Twitter</h3>
			Username: <input type="text" name="twitterUsername"/>
			<div class="error">
				<p>This username is not valid or is private</p>
			</div>
			<div class="verified"><img src="/img/check.png"></div>
		</section>

		<section class="insta-sec">
			<h3>Instagram</h3>
			Username: <input type="text" name="instaUsername"/>
			<div class="error"><p>This username is not valid or is private.</p></div>
			<div class="verified"><img src="/img/check.png"></div>
		</section>
		<div class="error" id="mainerror">
			<p>You need to fill in at least one of these.</p>
		</div>
		<input type="button" value="Verify">
		<!--<input type="submit" value="Submit">-->
		<!--<section class="tumblr-sec">
			<h3>Tumblr</h3>
			Is your account private? 
			<div class="radio-buttons">
				<label>
				 <input type="radio" name="group3" value="Yes"/> Yes
				</label>
				<label>
				 <input type="radio" name="group3" value="No" />No
				</label>
			</div>
			<br>
			Username: <input type="text" name="tumblrrUsername"/>
			
		</section> -->
	</form>
</div>