<script type="text/javascript" src="/scripts/users.js"></script>
<div class="settings-p">
	<form id="sm-form" method="POST" action="">
		<section class="twitter-sec">
			<h3>Twitter</h3>
			Username: <input type="text" name="twitterUsername"/>
			<div class="error">
				<p class="err1">This username is not valid.</p>
			</div>
			<div class="verified"><img src="/img/check.png"></div>
			<input type="button" value="Verify">
		</section>
		<section class="insta-sec">
			<h3>Instagram</h3>
			Username: <input type="text" name="instaUsername"/>
			<div class="error">
				<p class="err1">This username is not valid.</p>
			</div>
			<div class="verified"><img src="/img/check.png"></div>
			<input type="button" value="Verify">
		</section>
		<div class="error" id="mainerror">
			<p>You need to fill in at least one of these.</p>
		</div>
		<input type="submit" value="submit">
	</form>
</div>