<script type="text/javascript" src="/scripts/users.js"></script>
<div class="settings-p">
	<form id="sm-form" method="POST" action="">
		<section class="twitter-sec">
			<h3>Twitter</h3>
			Username: <input type="text" name="twitterUsername"/>
			<div class="error">
				<small>This username is not valid.</small>
			</div>
			<input type="button" value="Verify">
			<img class="verified" src="/img/check.png">
		</section>
		<section class="insta-sec">
			<h3>Instagram</h3>
			Username: <input type="text" name="instaUsername"/>
			<div class="error">
				<small>This username is not valid.</small>
			</div>
			<input type="button" value="Verify">
			<img class="verified" src="/img/check.png">
		</section>
		<div class="error" id="mainerror">
			<small>You need to fill in at least one of these.</small>	
		</div>
		<input type="submit" value="Submit">
	</form>
</div>