<script type="text/javascript" src="/scripts/timer.js"></script>
<div class="start-p">
	<section class="time-settings">
		<p>How long will you like Flatline to run for?</p>
		<form id="time-picker" action="start">
			<select id="hours"></select>
	  		<select id="minutes"></select>
	   		<select id="seconds"></select>
	   		<br>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section id="clockdiv">
	    Hours: <span class="hours"></span><br>
	    Minutes: <span class="minutes"></span><br>
	    Seconds: <span class="seconds"></span>
	</section>
</div>
