<script type="text/javascript" src="/scripts/timer.js"></script>
<div class="start-p">
	<section class="time-settings">
		<p>How long will you like Flatline to run for?</p>
		<form id="time-picker" action="start">
			<select id="hours"></select>
	  		<select id="minutes"></select>
	   		<select id="seconds"></select>
	   		<br>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section id="clockdiv">
		<p>Go about your life but don't close this page. We will be monitoring activity for your electrocardiogram. (Who is we? Idk it sounded cool.) Also, this doesn't work if your account is private.
		<div>
			<span class="hours"></span>
			<small>Hours</small>
		</div>
	    <div>
	    	<span class="minutes"></span>
	    	<small>Minutes</small>
	    </div>
	    <div>
	    	<span class="seconds"></span>
	    	<small>Seconds</small>
	    </div>
	</section>
</div>
