<script src="/scripts/sketch.js" type="text/javascript"></script>

<body>
	<div id="controls-container"></div>
	<div id="sidebar">
		<section id="heart-data">
			<img src="img/like80.png" width="72">
		</section>
		<section class="twitbeat">
			 <img src="img/like80.png" width="72">
		</section>
		<section class="instabeat">
			<img src="img/like80.png" width="72">
		</section>
		<section class="tumblrbeat">
			<img src="img/like80.png" width="72">
		</section>
	</div>
</body>

